<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" stopOnError="false" stopOnRisky="false" stopOnSkipped="false"
         stopOnIncomplete="false" cacheDirectory=".phpunit.cache">
  <php>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <cobertura outputFile="coverage.cobertura.xml"/>
      <html outputDirectory="phpunit-html"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

</phpunit>

