<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         stopOnError="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         stopOnIncomplete="false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <cobertura outputFile="cobertura.xml"/>
            <html outputDirectory="phpunit-html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

</phpunit>
