main {
    align-content: center;
}
.us_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
}

.us_wrapper img {
    height: 20vw;
    width: auto;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 #272c2c;
    transition: all 0.7s;

    &:hover {
        scale: 1.2;
    }
}

.team-description {
    color: var(--light-color);
    margin: 5vw;
    padding: 1em;
    font-size: 2vw;
    width: auto;
}