:root{
    --main-color: #b3bcbb;
    --minor-color: #7c938e;
    --extra-color: #eaafa9;
    --dark-color: #3c4443;
    --light-color: #efd0ce;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: var(--dark-color);
    color: var(--light-color);
//margin: 0;
    font-family: "Lato", sans-serif;
    position: relative;

}

.navbar-container {
    /* background: var(--main-color);
    box-shadow: 0 4px 5px 0 var(--minor-color);
    -webkit-box-shadow: 0 4px 5px 0 var(--minor-color);
    -moz-box-shadow: 0 4px 5px 0 var(--minor-color); */
}

.navbar {
    margin: auto;
    max-width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid var(--extra-color);
}

.navbar a {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 30px;
    color: var(--extra-color);
    text-space: 1px;
    text-decoration: none;
}

.home-buttons {
    text-align: center;
}

main {
    width: 70%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 100px;
}

section {
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.text-main {
    padding: 10px;
    border-radius: 30px;
}

footer {
    padding: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    z-index: 999; /* Ensure the footer appears above other elements */
}


footer a {
    text-decoration: none;
    color: var(--extra-color);
}

main {
    display: block;
    align-items: center;
    top: 50%;
    transform: translate(0, 15%);
}