.profile-h3 {
    color: var(--extra-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1em 3em 0 3em;
}

.profile-p {
    margin: 0 7em 1em 7em;
}

.line-breaker {
    border: 1px solid var(--extra-color);
}

.label-box {
    padding: 5px;
    font-size: 1.2em;
}

.input-box {
    padding: 5px;
    font-size: 1.2em;
}

.reset-form {
    padding: 10px 0;
}

input[type=button], input[type=submit] {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0 5px;
    border-radius: 40px;
    border: 1px solid var(--extra-color);
    padding: 8px 20px;
    font-size: 16px;
    transition: all 0.2s;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

input[type=button]:hover, input[type=submit]:hover {
    box-shadow: inset 0 -25px 0 var(--extra-color), inset 0 25px 0 var(--extra-color);
}

@media only screen and (max-width: 932px) {
    .profile-header {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-left:40px;
    }
    .navbar {
        position: relative;
        margin-left:40px;

    }
    .navbar ul {
        background: transparent;
        border-radius: 2rem;
    }
    .profile-p {
        display: none;
    }
    .reset-form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .form-row {

        margin-left:70px;
        margin-right: 1px;
    }
    .info-row{
        margin-right: 150px;
    }
    footer {
        position: fixed;
        width: auto;
        font-size: 3vw;
    }
}

.profile-header {
    text-align: center;
}

.user-info-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}

.reset-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.reset-form label {
    font-size: larger;
    font-weight: bold;
    margin-right: 0.5rem;
}

.reset-form select {
    background-color:#858888;
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    margin-top: 20px;
    margin-right: 1.5rem;
}



.input-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#username-edit-display {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#username-edit-display input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#username-edit-confirm,
#username-edit-cancel {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    cursor: pointer;
}

#username-edit-confirm:hover,
#username-edit-cancel:hover {
    background-color: var(--light-color);
}


#email-edit-display {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#email-edit-display label {
    margin-bottom: 0.5rem;
}

#email-edit-display input[type="text"],
#email-edit-display input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#email-edit-confirm,
#email-edit-cancel {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    cursor: pointer;
}

#email-edit-confirm:hover,
#email-edit-cancel:hover {
    background-color: var(--light-color);
}

#password-edit-display {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#password-edit-display label {
    margin-bottom: 0.5rem;
}

#password-edit-display input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#password-mismatch {
    color: red;
    font-size: 0.9rem;
    display: none;
}

#password-edit-confirm,
#password-edit-cancel {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    cursor: pointer;
}

#password-edit-confirm:hover,
#password-edit-cancel:hover {
    background-color:var(--light-color);
}
.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 1rem;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label-box {
    flex-shrink: 0;
    width: 100px;
}

.input-box {
    flex: 1;
}

