/* css/rate_form.css */

.rating-wrapper {
    background-color: var(--dark-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid var(--extra-color);
}

.rating-wrapper h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--light-color);
}

.form-group {
    margin-bottom: 15px;
    color: var(--light-color);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.rating-choices {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rating-choices label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--extra-color);
    color: var(--dark-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--light-color);
}

.form-check-label {
    color: var(--light-color);
}

.form-check-input {
    margin-right: 10px;
}
