/* Add this to your study.css file */

.phase-header {
    margin-bottom: 10px;
}

.phase-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.phase-toggle i {
    margin-right: 5px;
    color: #db1010; /* Adjust the color as needed */
    font-size: 16px; /* Adjust the font size as needed */
}


.courses {
    display: none;
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}


.book {
    margin-bottom: 20px;
}

.options {
    display: none;
}

.option {
    cursor: pointer;
    margin-right: 10px;
}

.option:hover {
    text-decoration: underline;
    font-weight: bold;
}
