body, html {
    height: auto; /* Ensure the body and html can expand */
    overflow: visible; /* Ensure content is not clipped */
}

/* this part is necessary for the page to be displayed */
.main-container { /* Replace with the class of your main container if different */
    height: auto;
    overflow: visible;
    min-height: 0;
    display: flex;
}

.phase-wrapper {
    display: block;
    height: fit-content;
    /*height: auto;*/
    padding: 5px;
    flex-grow: 1; /* Allow it to grow with content */
    flex-shrink: 1; /* Allow it to shrink if necessary */
    /*background-color: #e0e0e0; !* Light green background for visual debugging *!*/
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}
.phase-header {
    /*background: var(--minor-color);*/
    background: #4a4a4a;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    position: sticky;
    top: 0; /* Sticks to the top of the container */
    z-index: 1; /* so it appears above the other content */
    border-radius: 8px; /* rounded corners */
}
.icon-toggle {
    position: relative;
    margin-right: 5px;
}
.phase-toggle, .course-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.phases-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners */
}

.courses {
    /*background: var(--minor-color);*/
    padding: 10px 0;
    display: flex;
    height :fit-content;
    flex-direction: column;
    gap: 10px; /* Space between courses */
    overflow-y: auto;  /* this is so tat there is a scroll bar for the list of courses*/
}

.courses.expanded {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between courses */
    /*height: fit-content;*/
    height: auto;
    overflow: visible;

}

/*.courses.expanded {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px; !* Space between courses *!*/
/*    min-height: auto;*/
/*}*/

.courses li {
    list-style: none;
    height: auto;

}
.course {
    display: block;
    padding: 10px;
}
.options {
    display: block;
}

.option a{
    cursor: pointer;
    margin-right: 10px;
    color: #d3c35b;  /*so that the text for lecture and lab stands out*/
    text-decoration: none;
}
.option a:hover {
    text-decoration: underline;
    font-weight: bold;
}


.search-form {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: var(--extra-color);
    opacity: 0.6;
    margin-bottom: 20px;
    padding: 2px;
    transition: all ease 0.7s;
    color: var(--dark-color);

    &:hover {
        opacity: 1;
    }
}

.search-form button,
.search-form input[type="text"],
.search-form select {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
    transition: all 0.7s; /* stretches out the change to the specified time interval */
}

.search-form button {
    cursor: pointer;
    background-color: var(--light-color);
    color: var(--dark-color);

    &:hover {
        box-shadow: inset -6em 0 0 var(--extra-color), inset 6em 0 0 var(--extra-color);
    }
}
.search-form input[type="text"] {
    background-color: var(--light-color);
    color: var(--dark-color);
    height: fit-content;


    &:hover {
        box-shadow: inset -8em 0 0 var(--extra-color), inset 8em 0 0 var(--extra-color);
    }

    &:focus {
        background-color: var(--extra-color);
        border: 0;
    }
}
.search-form select {
    background: var(--light-color);
    color: var(--dark-color);
    width: fit-content;
    
    &:hover {
        cursor: pointer;
        box-shadow: inset -8em 0 0 var(--extra-color), inset 8em 0 0 var(--extra-color);
    }

    &:focus {
        background-color: var(--extra-color);
    }
}

/* the following is for Custom scrollbar for WebKit browsers */
.courses::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

.courses::-webkit-scrollbar-track {
    background: #34495E; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}

.courses::-webkit-scrollbar-thumb {
    background-color: #2E4053; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #34495E; /* Adds padding around thumb */
}

.courses::-webkit-scrollbar-thumb:hover {
    background-color: #3498db; /* Hover color */
}

