.book {
    margin-bottom: 20px;
}

.options {
    display: none;
}

.option {
    cursor: pointer;
    margin-right: 10px;
}

.option:hover {
    text-decoration: underline;
    font-weight: bold;
}
