{% extends 'base.html.twig' %}
{% block content %}

    <div class="blob"></div>


    <div class="container-title">
        <div class="main-title">StudHub!</div>
    </div>

    {% if is_granted('ROLE_USER') %}
        <div class="home-buttons">
            <div class="home-button">
                <a href="{{ path('study') }}">
                    <input type="button" value="Study Now!">
                </a>
            </div>
        </div>
    {% else %}
    <div class="home-buttons">
        <div class="home-button">
            <a href="{{ path('login') }}">
                <input type="button" value="Sign In">
            </a>
        </div>
        <div class="block home-description">
            <p>The Group T Study Form is your one-stop shop for managing your academic experience at KU Leuven. This platform allows you to access a wealth of study notes,  exam tips, and insights from peers who have already conquered the same material. Ask questions, share your own strategies, and foster a collaborative learning environment for academic success!</p>
        </div>
        <div class="block home-buttons">
            <div class="home-button">
                <a href="{{ path('login') }}">
                    <input type="button" value="Sign In">
                </a>
            </div>
            <div class="home-button">
                <a href="{{ path('register') }}">
                    <input type="button" value="Join Now">
                </a>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}