{% extends 'base.html.twig' %}
{% block content %}
    <h1 class="large-text">
        StudHub!<br>
    </h1>

    <div class="home-buttons">
        <input type="button" value="Sign In">
        <input type="button" value="Join Now">
    </div>

{% endblock %}