{% extends 'base.html.twig' %}
{% block content %}

    <div class="blob"></div>


    <div class="container-title">
        <div class="main-title">StudHub!</div>
    </div>

    {% if is_granted('ROLE_USER') %}
        <div class="home-buttons">
            <div class="home-button">
                <a href="{{ path('study') }}">
                    <input type="button" value="Study Now!">
                </a>
            </div>
        </div>
    {% else %}
    <div class="home-buttons">
        <div class="home-button">
            <a href="{{ path('login') }}">
                <input type="button" value="Sign In">
            </a>
        </div>
        <div class="home-button">
            <a href="{{ path('register') }}">
                <input type="button" value="Join Now">
            </a>
        </div>
    </div>
    {% endif %}

{% endblock %}