{% extends 'base.html.twig' %}
{% block content %}

    <div class="blob"></div>


    <div class="container-title">
        <div class="main-title">StudHub!</div>

    </div>

    <div class="home-buttons">
        <div class="home-button">
            <input type="button" value="Sign In">
        </div>
        <div class="home-button">
            <input type="button" value="Join Now">
        </div>
    </div>

{% endblock %}