{% extends 'base.html.twig' %}
{% block content %}

    <div class="blob"></div>


    <div class="container-title">
        <div class="main-title">StudHub!</div>

    </div>

    <div class="home-buttons">
        <input type="button" value="Sign In">
        <input type="button" value="Join Now">
    </div>

{% endblock %}