{% extends 'base.html.twig' %}

{% block content %}
    <div class="profile-header">
        <h3 class="profile-h3 is-size-2-mobile is-size-1-desktop">Your Profile</h3>
        <p class="profile-p is-size-4-desktop">You can change your data here.</p>
    </div>
    <div class="user-info-all">
        <dl class="line-breaker"></dl>
        <div class="spec-box">
            <div class="label-box is-size-4-mobile is-size-3-desktop">username: </div>
            <dd class="input-box is-size-5-mobile is-size-4-desktop">r683362</dd>
        </div>
        <div class="spec-box">
            <div class="label-box is-size-4-mobile is-size-3-desktop">password: </div>
            <dd class="input-box is-size-5-mobile is-size-4-desktop">*********</dd>
        </div>
        <div class="spec-box">
            <dt class="label-box is-size-4-mobile is-size-3-desktop">email: </dt>
            <dd class="input-box is-size-5-mobile is-size-4-desktop">bolin.great@is</dd>
        </div>

        <div class="spec-box">
            <dt class="label-box is-size-4-mobile is-size-3-desktop">specialisation: </dt>
            <dd class="input-box is-size-5-mobile is-size-4-desktop">Electronics and ICT</dd>
        </div>

        <div class="option-edit">
            <input type="button" value="Edit">
            <input type="button" value="Cancel">
        </div>
    </div>


{% endblock %}