{% extends 'base.html.twig' %}

{% block content %}
    <div class="profile-header">
        <h3 class="profile-h3 is-size-2-mobile">Your Profile</h3>
        <p class="profile-p is-size-5-mobile">You can change your data here.</p>
    </div>
    <div class="user-info-all">
        <dl class="line-breaker"></dl>
        <div class="spec-box">
            <div class="label-box is-size-4-mobile">username: </div>
            <dd class="input-box is-size-5-mobile">r683362</dd>
        </div>
        <div class="spec-box">
            <div class="label-box is-size-4-mobile">password: </div>
            <dd class="input-box is-size-5-mobile">*********</dd>
        </div>
        <div class="spec-box">
            <dt class="label-box is-size-4-mobile">email: </dt>
            <dd class="input-box is-size-5-mobile">bolin.great@is</dd>
        </div>

        <div class="spec-box">
            <dt class="label-box is-size-4-mobile">specialisation: </dt>
            <dd class="input-box is-size-5-mobile">Electronics and ICT</dd>
        </div>

        <div class="option-edit">
            <input type="button" value="Edit">
            <input type="button" value="Cancel">
        </div>
    </div>


{% endblock %}