{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/rate_range_prof.js') }}"></script>
{% endblock %}

{% block content %}

    {#<form method="post">
        <div class="rate_prof_space">
            <h2 class="prof_name">Professor Name</h2>
            <p>When rating professors, focus on how effectively they teach and how much you gain from attending lectures.</p>
            <p> Did they explain concepts clearly? Did they make learning engaging?  Would you recommend their class to others?</p>
            <div class="prof_feedback_grid">
                <div class="user_info">
                    <label for="student_id">Student: </label>
                    <input type="text" id="student_id"/>
                </div>
                <div class="range_wrap">
                    <div class="range_text">
                        <label for="rate_range">Value: <output id="value"></output></label>
                    </div>
                    <input type="range" id="rate_range" class="slider" min="0" max="20" step="1"/>
                </div>
            </div>
            <div class="prof_rate_button">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>#}

    {{ form(form) }}

{% endblock %}