{% extends 'base.html.twig' %}

{% block content %}
<h1>Register</h1>

{% if error %}
    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}

<form method="post" action="{{ path('register_form_submit_route') }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" required><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="_email" required><br><br>

    <label for="password_1">Password:</label>
    <input type="password" id="password_1" name="_password_1" required><br><br>

    <label for="password_2">Confirm Password:</label>
    <input type="password" id="password_2" name="_password_2" required><br><br>

    <label for="specialization">Specialization:</label>
    <select id="specialization" name="_specialization" required>
        <option value="Electronics">Electronics</option>
        <option value="Chemical">Chemical</option>
        <option value="Electromechanics">Electromechanics</option>
    </select><br><br>

    <label for="phase">phase:</label>
    <select id="phase" name="_phase" required>
        <option value="1">Bac 1</option>
        <option value="2">Bac 2</option>
        <option value="3">Bac 3</option>
    </select><br><br>

    <input type="submit" value="Register">
</form>
    <label>
        Already have an account?
        <a href="{{ path('login') }}" style="color:  var(--extra-color)">
           Login!
        </a>
    </label>

{% endblock %}
