{% extends 'base.html.twig' %}

{% block content %}
    <style>
        .container-title h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 20px;
            width: 100%;
        }
        .form-group label {
            text-align: right;
            margin-bottom: 5px;
            font-size: 1.8em;
            margin-right: 4rem;
        }
        .form-group input,
        .form-group select {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            font-size: 1em;
            margin-top: 20px;
        }
        .form-wrapper {
            display: flex;
            justify-content: center;
        }
    </style>



    <div class="container-title" style="text-align: center;">
        <h1>Register</h1>
    </div>

    <div class="password-reset-form">
        {% if error %}
            <div id="error-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                </div>
            </div>
        {% endif %}

        <div class="form-wrapper">
            <form method="post" action="{{ path('register_form_submit_route') }}">

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="_email" required>
                </div>

                <div class="form-group">
                    <label for="password_1">Password:</label>
                    <input type="password" id="password_1" name="_password_1" required>
                </div>

                <div class="form-group">
                    <label for="password_2">Confirm Password:</label>
                    <input type="password" id="password_2" name="_password_2" required>
                </div>

                <div class="form-group">
                    <label for="specialization">Specialization:</label>
                    <select id="specialization" name="_specialization" required>
                        <option value="Electronics">Electronics</option>
                        <option value="Chemical">Chemical</option>
                        <option value="Electromechanics">Electromechanics</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="phase">Phase:</label>
                    <select id="phase" name="_phase" required>
                        <option value="1">Bac 1</option>
                        <option value="2">Bac 2</option>
                        <option value="3">Bac 3</option>
                    </select>
                </div>
                <br><br>


                <div class="form-group" style="justify-content: center;">
                    <button type="submit" class="btn-primary">Register</button>
                </div>
            </form>
        </div>



        <p style="text-align: center;">Already have an account? <a href="{{ path('login') }}" style="color:#858888">Login!</a></p>
    </div>
{% endblock %}

