{% extends 'base.html.twig' %}

{% block content %}
    <style>
        .container-title h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }
        .spec-box {
            text-align: center;
            margin-top: 20px;
        }
        .form-group {
            margin-bottom: 20px;
            text-align: center;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select {
            width: 30%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            font-size: 1em;
            margin-top: 5px;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 1em;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #0056b3;
        }


    </style>

    <div class="container-title" style="text-align: center;">
        <h1>Register</h1>
    </div>

    <div class="spec-box">
        {% if error %}
            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form method="post" action="{{ path('register_form_submit_route') }}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="_email" required>
            </div>

            <div class="form-group">
                <label for="password_1">Password:</label>
                <input type="password" id="password_1" name="_password_1" required>
            </div>

            <div class="form-group">
                <label for="password_2">Confirm Password:</label>
                <input type="password" id="password_2" name="_password_2" required>
            </div>

            <div class="form-group">
                <label for="specialization">Specialization:</label>
                <select id="specialization" name="_specialization" required>
                    <option value="Electronics">Electronics</option>
                    <option value="Chemical">Chemical</option>
                    <option value="Electromechanics">Electromechanics</option>
                </select>
            </div>

            <div class="form-group">
                <label for="phase">Phase:</label>
                <select id="phase" name="_phase" required>
                    <option value="1">Bac 1</option>
                    <option value="2">Bac 2</option>
                    <option value="3">Bac 3</option>
                </select>
            </div>

            <button type="submit" class="btn">Register</button>
        </form>

        <p>Already have an account? <a href="{{ path('login') }}" style="color: blueviolet">Login!</a></p>
    </div>
{% endblock %}
