{% extends 'base.html.twig' %}
{% block content %}



    <div class="spec-box">
        <div class="label-box">username: </div>
        <div class="input-box">r683362</div>
    </div>

    <div class="spec-box">
        <div class="label-box">email: </div>
        <div class="input-box">bolin.great@is</div>
    </div>


{% endblock %}